Source: python-untangle
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Julian Gilbey <jdg@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               pybuild-plugin-pyproject,
               python3-all,
               python3-defusedxml,
               python3-poetry-core,
               python3-setuptools
Standards-Version: 4.6.1
Homepage: https://github.com/stchris/untangle
Vcs-Git: https://salsa.debian.org/python-team/packages/python-untangle.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-untangle
Rules-Requires-Root: no

Package: python3-untangle
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Convert XML to a Python object
 Untangle has a very simple API for converting XML to a Python object:
 you just call the "parse" function on either a string, a filename or a URL.
